In [1]:
import os
import csv
import pandas as pd

In [2]:
file = 'book1-100k.csv'

In [3]:
df = pd.read_csv(file, encoding="ISO-8859-1")

In [4]:
df.head()

,Id,Name,RatingDist1,pagesNumber,RatingDist4,RatingDistTotal,PublishMonth,PublishDay,Publisher,CountsOfReview,PublishYear,Language,Authors,Rating,RatingDist2,RatingDist5,ISBN,RatingDist3
0,1,Harry Potter and the Half-Blood Prince (Harry ...,1:9896,652,4:556485,total:2298124,16,9,Scholastic Inc.,28062,2006,eng,J.K. Rowling,4.57,2:25317,5:1546466,NaN,3:159960
1,2,Harry Potter and the Order of the Phoenix (Har...,1:12455,870,4:604283,total:2358637,1,9,Scholastic Inc.,29770,2004,eng,J.K. Rowling,4.50,2:37005,5:1493113,0439358078,3:211781
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,1:108202,309,4:1513191,total:6587388,1,11,Scholastic Inc,75911,2003,eng,J.K. Rowling,4.47,2:130310,5:4268227,NaN,3:567458
3,4,Harry Potter and the Chamber of Secrets (Harry...,1:11896,352,4:706082,total:2560657,1,11,Scholastic,244,2003,eng,J.K. Rowling,4.42,2:49353,5:1504505,0439554896,3:288821
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,1:10128,435,4:630534,total:2610317,1,5,Scholastic Inc.,37093,2004,eng,J.K. Rowling,4.57,2:24849,5:1749958,043965548X,3:194848

In [5]:
df.count()

Id                 58292
Name               58292
RatingDist1        58292
pagesNumber        58292
RatingDist4        58292
RatingDistTotal    58292
PublishMonth       58292
PublishDay         58292
Publisher          57798
CountsOfReview     58292
PublishYear        58292
Language           20294
Authors            58292
Rating             58292
RatingDist2        58292
RatingDist5        58292
ISBN               57746
RatingDist3        58292
dtype: int64

In [6]:
cleandf = df[['ISBN','Name','Authors','Language','pagesNumber','Publisher','PublishYear','Rating']]
cleandf

,ISBN,Name,Authors,Language,pagesNumber,Publisher,PublishYear,Rating
0,NaN,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,eng,652,Scholastic Inc.,2006,4.57
1,0439358078,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,eng,870,Scholastic Inc.,2004,4.50
2,NaN,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,eng,309,Scholastic Inc,2003,4.47
3,0439554896,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,eng,352,Scholastic,2003,4.42
4,043965548X,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,eng,435,Scholastic Inc.,2004,4.57
...,...,...,...,...,...,...,...,...
58287,0618082956,The Best American Science and Nature Writing 2000,David Quammen,NaN,265,Mariner Books,2000,3.99
58288,0618134786,The Best American Science and Nature Writing 2002,Natalie Angier,NaN,336,Mariner Books,2002,4.11
58289,0872498220,Hunting and Home in the Southern Heartland: Th...,Archibald Hamilton Rutledge,NaN,263,University of South Carolina Press,1992,4.30
58290,0060726407,The Best American Science Writing 2004,Dava Sobel,NaN,288,Ecco,2004,3.86
58291,1560255986,The Best American Sex Writing 2004,Daniel O'Connor,NaN,336,Running Press,2004,3.09

In [8]:
cleandf = cleandf.dropna(how='any')

In [9]:
cleandf.count()

ISBN           19778
Name           19778
Authors        19778
Language       19778
pagesNumber    19778
Publisher      19778
PublishYear    19778
Rating         19778
dtype: int64